@media (max-width: 1200px) {
  .features__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .slider {
    width: 1080px;
  }

  .footer {
    padding: 50px 0 50px;
  }
}

@media (max-width: 968px) {
  .header {
    padding: 10px 0 10px;
  }
  .header__inner {
    justify-content: space-between;
  }
  .header-nav {
    display: block;
  }

  .header-nav {
    position: fixed;
    padding-top: 80px;
    width: 70%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    right: 0;
    bottom: 0;
    background-color: #f063b8;
    z-index: 10;
    transform: translateX(150%);
    transition: transform 0.5s;
  }

  .header-nav--open {
    transform: translateX(0);
  }

  .header-nav__list {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header-nav__item:not(:last-child) {
    margin-right: 0;
  }

  .header-nav__link {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 25px;
  }

  .hamburger {
    display: inline-block;
  }
  .main-section {
    padding: 80px 0 0;
    background-size: auto 50%;
  }
  .info-banner {
    padding: 80px 0 80px;
  }

  .info-banner__inner {
    padding: 12px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .info-banner__img {
    margin-right: 0;
  }

  .slider__item {
    padding: 30px;
    margin-right: 20px;
    height: 200px;
  }
  .slider__item-content {
    max-width: 290px;
  }
  .slider__item-descr p {
    font-size: 16px;
  }

  .testimonials__inner {
    padding: 80px 0 80px 20px;
    margin-bottom: 80px;
  }
  .slider-btnprev {
    right: 60%;
  }
  .slider-btnnext {
    right: 55%;
  }
  .slider {
    max-width: 920px;
  }
  .slick-dots {
    text-align: center;
  }
  .slider-btn {
    display: none !important;
  }
}

@media (max-width: 640px) {
  .main-section__title {
    margin-right: 0;
  }
  .main-section {
    height: 80vh;
  }

  .main-section__title {
    padding-top: 80px;
  }

  .info-banner {
    padding: 40px 0 40px;
  }

  .main-section__descr {
    margin-bottom: 80px;
  }
  .slider {
    max-width: 620px;
  }
  .main-section__title {
    max-width: 350px;
    font-size: 46px;
  }
  .main-section {
    background-position: right 3% bottom 39%;
    background-size: auto 0%;
  }
  .title {
    font-size: 36px;
  }

  .features__text {
    margin-bottom: 50px;
  }

  .features__item {
    margin-bottom: 30px;
    padding: 20px 10px 20px 10px;
    max-width: 530px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: right top;
    border-radius: 50px;
    cursor: pointer;
    transition: box-shadow 0.5s, transform 0.2s;
  }

  .features__item-img {
    width: 150px;
    height: 130px;
  }
  .features__item-title {
    font-size: 20px;
  }
  .slider__item.slick-slide {
    max-width: 260px;
  }
  .slider-btn {
    display: none;
  }
  .slider__item.slick-slide.slick-current.slick-active {
    max-width: 260px;
  }
  .slider__item-img {
    width: 60px;
    height: 60px;
  }
  .slider__item-info {
    margin-bottom: 10px;
  }
  .testimonials__title {
    margin-bottom: 40px;
  }

  .testimonials__inner {
    padding: 40px 0 50px 20px;
    margin-bottom: 80px;
  }
  .footer__social {
    margin-top: 25px;
  }
}
@media (max-width: 440px) {
  .btn-more {
    font-weight: 800;
    font-size: 22px;
  }
  .slider {
    max-width: 390px;
  }
  .slick-dots {
    bottom: -30px;
  }
  .main-section {
    text-align: center;
  }
  .btn-more {
    width: 100%;
    text-align: center;
  }

  .title {
    font-size: 24px;
  }
  .features__item-img {
    width: 110px;
    height: 100px;
    margin-right: 10px;
  }

  .info-banner__img {
    height: 300px;
    margin-right: 0;
  }
  .features__item-content-text p {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .slider {
    max-width: 290px;
  }
}
